<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>


<f:section name="main">


	<f:flashMessages/>

	<!--f:render partial="Property/Properties" arguments="{property:property}" /-->

	<h1 class="tx-realer-title">{property.title}</h1>

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab"
												  data-toggle="tab">
			<f:translate key="overview"></f:translate>
		</a></li>
		<li role="presentation"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">
			<f:translate key="details"></f:translate>
		</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="overview">
			<div class="row">
				<div class="col-md-5">
					<f:for each="{property.images}" as="image" key="key" iteration="i">
						<figure class="image">
							<f:image class="tx-realer-image"
									 src="{image.uid}"
									 alt="{image.originalResource.originalFile.alternative}"
									 title="{image.originalResource.title}"
									 maxWidth="{settings.image.maxWidth}"
									 treatIdAsReference="1"></f:image>
						</figure>
					</f:for>

					<div class="tx-realer-listgroup tx-realer-listgroup-location list-group">
						<f:render partial="Property/Location" arguments="{property: property}" />
					</div>

					<div class="tx-realer-listgroup tx-realer-listgroup-general list-group">
						<f:render partial="Property/General" arguments="{property: property}"  />
					</div>

					<div class="tx-realer-vspace visible-xs-block visible-sm-block"></div>
				</div>
				<div class="col-md-7">
					<div class="tx-realer-text">
						<f:format.html>{property.introduction}</f:format.html>
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="details">
			<div class="row">
				<div class="col-md-6">
					<div class="tx-realer-listgroup tx-realer-listgroup-detail list-group">
						<f:render partial="Property/Basic" arguments="{property: property}"  />
					</div>
				</div>
				<div class="col-md-6">
					<div class="tx-realer-listgroup tx-realer-listgroup-detail list-group">
						<f:render partial="Property/Detail" arguments="{property: property}"  />
					</div>
				</div>
			</div>
			<div class="tx-realer-text">
				<f:format.html>{property.description}</f:format.html>
			</div>

			<div class="row">
				<div class="col-md-6">

				</div>
				<div class="col-md-6">

				</div>
			</div>
		</div>
	</div>

	<div class="tx-realer-footer">
		<f:link.action action="list">
			<button class="btn btn-bps-1">
				<f:translate key="back"/>
			</button>
		</f:link.action>
		<br/>
	</div>

</f:section>
</html>