<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />



<f:section name="main">


	<f:flashMessages />

	<!--f:render partial="Property/Properties" arguments="{property:property}" /-->

	<h1>{property.title}</h1>
	<div class="row">

		<div class="col-md-4">
			<f:for each="{property.images}" as="image" key="key" iteration="i">
				<f:image class="img-responsive img-thumbnail tx-realer-propertylistitem-text"
						 src="{image.uid}"
						 alt="{image.originalResource.originalFile.alternative}"
						 title="{image.originalResource.title}"
						 maxWidth="{settings.image.maxWidth}"
						 treatIdAsReference="1"></f:image>
			</f:for>
			<div class="tx-realear-vspace visible-xs-block visible-sm-block"></div>
		</div>
		<div class="col-md-8">
			<div class="tx-realer-propertylistitem-text">
				<f:format.html>{property.introduction}</f:format.html>
			</div>
		</div>

	</div>

	<div class="tx-realer-footer">
		<f:link.action action="list">
			<button class="btn btn-info"><f:translate key="back" /></button>
		</f:link.action><br />
	</div>

</f:section>
</html>