<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<f:if condition="{value}">
		<f:switch expression="{type}">
			<f:case value="YES">
				<dt title="{f:translate(key: translationKey)}"><f:translate key="{translationKey}" /></dt>
				<dd><f:translate key="yes" /></dd>
			</f:case>
			<f:case value="CURRENCY">
				<dt title="{f:translate(key: translationKey)}"><f:translate key="{translationKey}" /></dt>
				<dd><f:render partial="Helper/Currency" arguments="{value: value}" /></dd>
			</f:case>
			<f:case value="INDEXED">
				<dt title="{f:translate(key: translationKey)}"><f:translate key="{translationKey}" /></dt>
				<dd><f:translate key="{translationKey}.{value}" /></dd>
			</f:case>
			<f:case value="SURFACE">
				<dt title="{f:translate(key: translationKey)}"><f:translate key="{translationKey}" /></dt>
				<dd><f:render partial="Helper/Surface" arguments="{value: value}" /></dd>
			</f:case>
			<f:defaultCase>
				<dt title="{f:translate(key: translationKey)}"><f:translate key="{translationKey}" /></dt>
				<dd>{value}</dd>
			</f:defaultCase>
		</f:switch>
	</f:if>

</html>