<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-realer" >
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.title" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.agent_reference" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.has_priority" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.sales_state" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.available_for_sale" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.available_for_rent" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.available_for_business_transfer" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.price_before" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.price" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.insurance_value" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.running_cost" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.images" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.introduction" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.location_type" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.address" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.zip" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.place" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.zone" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.region" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.country" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.latitude" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.longitude" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.orientation" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.view" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.has_rural_zone" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.object_type" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.flat_type" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.house_type" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.land_type" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.is_new" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.property_age" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.land_area" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.construction_area" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.useful_area" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.classification" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.state" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.description" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.room_count" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.sleeping_room_count" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.has_hall" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.has_cellar" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.has_storage" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.has_balcony" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.has_elevator" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.has_garage" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.garage_count" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.has_chimney" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.has_pool" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.has_barbecue" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>