<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-realer" >
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.title" />
		</td>
		<td>
		{property.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.agent_reference" />
		</td>
		<td>
		{property.agentReference}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.has_priority" />
		</td>
		<td>
		{property.hasPriority}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.sales_state" />
		</td>
		<td>
		{property.salesState}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.available_for_sale" />
		</td>
		<td>
		{property.availableForSale}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.available_for_rent" />
		</td>
		<td>
		{property.availableForRent}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.available_for_business_transfer" />
		</td>
		<td>
		{property.availableForBusinessTransfer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.price_before" />
		</td>
		<td>
		{property.priceBefore}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.price" />
		</td>
		<td>
		{property.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.insurance_value" />
		</td>
		<td>
		{property.insuranceValue}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.running_cost" />
		</td>
		<td>
		{property.runningCost}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.images" />
		</td>
		<td>
				<f:image src="{property.images.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.introduction" />
		</td>
		<td>
		{property.introduction}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.location_type" />
		</td>
		<td>
		{property.locationType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.address" />
		</td>
		<td>
		{property.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.zip" />
		</td>
		<td>
		{property.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.place" />
		</td>
		<td>
		{property.place}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.zone" />
		</td>
		<td>
		{property.zone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.region" />
		</td>
		<td>
		{property.region}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.country" />
		</td>
		<td>
		{property.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.latitude" />
		</td>
		<td>
		{property.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.longitude" />
		</td>
		<td>
		{property.longitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.orientation" />
		</td>
		<td>
		{property.orientation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.view" />
		</td>
		<td>
		{property.view}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.has_rural_zone" />
		</td>
		<td>
		{property.hasRuralZone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.object_type" />
		</td>
		<td>
		{property.objectType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.flat_type" />
		</td>
		<td>
		{property.flatType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.house_type" />
		</td>
		<td>
		{property.houseType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.land_type" />
		</td>
		<td>
		{property.landType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.is_new" />
		</td>
		<td>
		{property.isNew}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.property_age" />
		</td>
		<td>
		{property.propertyAge}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.construction_area" />
		</td>
		<td>
		{property.constructionArea}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.useful_area" />
		</td>
		<td>
		{property.usefulArea}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.classification" />
		</td>
		<td>
		{property.classification}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.state" />
		</td>
		<td>
		{property.state}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.description" />
		</td>
		<td>
		{property.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.room_count" />
		</td>
		<td>
		{property.roomCount}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.sleeping_room_count" />
		</td>
		<td>
		{property.sleepingRoomCount}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.has_hall" />
		</td>
		<td>
		{property.hasHall}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.has_cellar" />
		</td>
		<td>
		{property.hasCellar}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.has_storage" />
		</td>
		<td>
		{property.hasStorage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.has_balcony" />
		</td>
		<td>
		{property.hasBalcony}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.has_elevator" />
		</td>
		<td>
		{property.hasElevator}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.has_garage" />
		</td>
		<td>
		{property.hasGarage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.garage_count" />
		</td>
		<td>
		{property.garageCount}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.has_chimney" />
		</td>
		<td>
		{property.hasChimney}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.has_pool" />
		</td>
		<td>
		{property.hasPool}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_realer_domain_model_property.has_barbecue" />
		</td>
		<td>
		{property.hasBarbecue}
		</td>
	</tr>
</table>
</html>